<!--
vim:ft=htmldjango
-->

{% extends "base.html" %}

{% block content %}
<h1> OHS Math Competition Homeroom Page </h1>

<p>
    This is a website made by Juni Kim in order to combat some of the primary
    problems that plague the management of an online math competition club. It aims
    to resolve the following problems:
    <ol>
        <li>
            Automatically keeping track of registration deadlines/collecting sign-ups 
        </li>
        <li> Various Critical Announcements/Agendas </li>
    </ol>
</p>
{% endblock      %}
