<!--
vim:ft=htmldjango
-->

{% extends "base.html" %} {% block content %} {% load static %}
<h1>
  OHS Math Competition Homeroom
  <img src="{% static 'home/ohs.png' %}" alt="pixel logo" style="width: 3rem" />
</h1>
<p>
  Welcome to the main site of the Stanford OHS Math Competition Homeroom/Club!
  We meet on a weekly basis every Friday, participating in math contests and
  going over contest-related topics.
</p>
<h2>Contact</h2>
<p>
  Our Skype join link can be found
  <a href="https://join.skype.com/PmklghnnRVOz">here</a>. PM Juni Kim, the site
  administrator/club leader, in order to request login credentials.
</p>
<p>
  Although Skype and Adobe Connect are our primary forms of communication, you
  can email Juni at
  <a href="mailto:junickim@ohs.stanford.edu">
    junickim&commat;ohs.stanford.edu
  </a>
  and the club sponsor/teacher at
  <a href="mailto:tmalper@stanford.edu"> tmalper&commat;stanford.edu </a>.
</p>
<h2>Other Important Links</h2>
<ul>
  <li>
    <a
      href="https://pcadobeconnect.stanford.edu/mathcompetitionsclub"
      target="_blank"
    >
      Adobe Connect Meetings
    </a>
  </li>
  <li>
    <a
      href="https://docs.google.com/document/d/1BN5sS6dh8LWYCkbyUiOdqHhSPIBKfCvXG7BrCShrc1o/view"
    >
      Contest List
    </a>
  </li>
  <li>
    <a
      href="https://docs.google.com/document/d/1Zq8ZRdppxhSclObiB3cDCYlll2bRA1CJG0VrG6Ciz4E/view"
    >
      Resources
    </a>
  </li>
  <li>
    <a
      href="https://docs.google.com/document/d/1XSRLJyGIKKXJbQrwuf93QwU6JyLSaU5vIC1gHG8XgqI/view"
    >
      Math Programs
    </a>
  </li>
</ul>
{% endblock %}
