<!--
vim:ft=htmldjango
-->

{% extends "base.html" %}

{% block content %}
{% load static %}
<h1> OHS Math Competition Homeroom Page </h1>
<img src="{% static 'ohs.png' %}" alt = "pixel logo"/>
<p>
    This is a website made by Juni Kim in order to combat some of the primary
    problems that plague the management of an online math competition club. It aims
    to resolve the following tasks:
    <ol>
        <li>
            Automatically keep track of registration deadlines/collecting sign-ups 
        </li>
        <li> Make various critical announcements/agendas highly accessible </li>
    </ol>
</p>
{% endblock      %}
