.listview-pagination-links {
  background-color: var(--pagination-color);
  color: var(--light-text);
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 20px;
}

a.listview-pagination-a {
  text-decoration: none;
  color: var(--light-text);
}

.listview-bar {
  background-color: var(--bg-color);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: var(--dark-text);
  border-radius: var(--border-radius);
}

.listview-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
}
