<!--
vim:ft=htmldjango
-->
{% extends "base.html" %} {% block content %}

<h1>Log In</h1>

{% if form.errors %}
<p class="text-fail">
	Nonexistent Username/Password Combination. Please try again.
</p>
{% endif %} {% if next %} {% if user.is_authenticated %}
<p class="text-fail">
	Your account doesn't have access to this page. To proceed, please login with
	an account that has access.
</p>
{% else %}
<p class="text-fail">Please login to see this page.</p>
{% endif %} {% endif %}

<form method="post" action="{% url 'login' %}">
	{% csrf_token %} {{form.as_p}}

	<button type="submit">Login</button>
	<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p>Lost your password? Contact the site owner.</p>

{% endblock %}
