@import url(https://fonts.googleapis.com/css?family=Inter:400,500,600,700,800,900&display=swap);

html {
  font-family: Inter, sans-serif;
}

/* This contains the colorscheme for the entire website.*/
:root {
  --bg-color: #d4d4d8;
  --light-bg: #eeeeee;
  --nav-bg: #d2c295;
  --light-text: #ffffff;
  --dark-text: #2e2d29;
  --dropdown-button: #8c1515;
  --buttonbg: #8c1515;
  --pagination-color: #8c1515;
  --border-radius: 10px;
}

body {
  margin: 0;
  background: url(/static/bg.png);
  /*background-repeat: no-repeat;*/
  background-position: center;
}

main {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  color: var(--dark-text);
  background-color: var(--light-bg);
  border-radius: var(--border-radius);
}

@media (max-width: 760px) {
  main {
    margin-right: 30px;
    margin-left: 30px;
    max-width: 700px;
  }
}

nav {
  position: sticky;
  top: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
  /*background-color: var(--bg-color);*/
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navbutton {
  background-color: var(--buttonbg);
  padding: 0.5rem;
  margin: 0.5rem;
  color: var(--light-text);
  border-radius: var(--border-radius);
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.navbar-left,
.navbar-right {
  background-color: var(--nav-bg);
  padding: 0.8rem;
  border-radius: var(--border-radius);
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  nav {
    background-color: var(--nav-bg);
    border-radius: var(--border-radius);
  }

  .navbar-left,
  .navbar-right {
    background-color: transparent;
  }
}

.navuser {
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  position: relative;
}

.navuser-dropdown {
  display: none;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  position: absolute;
  right: 0;
  z-index: 10;
  background-color: var(--nav-bg);
}

.dropdown-link {
  margin: 0.25rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  display: block;
  text-decoration: none;
  font-size: 15px;
  background-color: var(--dropdown-button);
  border-radius: 3px;
  color: var(--light-text);
  padding: 5px;
}

footer {
  margin: auto;
  max-width: 300px;
  padding: 0.2rem;
  margin-top: 1rem;
  display: block;
  color: #525252;
  background-color: var(--light-bg);
  font-size: 15px;
  text-align: center;
  border-radius: var(--border-radius);
}

/* Some text utilities */

.text-success {
  color: green;
}

.text-fail {
  color: red;
}
