.pagination-links {
	background-color: var(--pagination-color);
	color: var(--light-text);
	padding: 0.5rem;
	border-radius: 10px;
	font-size: 20px;
}

a.pagination-a {
	text-decoration: none;
	color: var(--light-text);
}

.registration-bar {
	background-color: var(--bg-color);
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 1rem;
	display: block;
	text-decoration: none;
	color: var(--dark-text);
}

.registration-list {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: block;
}
